name: Deploy Site to S3

on:
  release:
    types: [created]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: "us-east-1"
    - name: Build React App
      run: npm install && npm run build
    - name: Deploy app build to S3 bucket
      run: aws s3 sync ./build/ s3://${{ secrets.AWS_S3_BUCKET }} --delete
